body {
    font-family: Arial, Helvetica, sans-serif;
}


/** Header et Footer **/
header{
    background-color: #487948;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color:white;
    align-items: center;
    margin-bottom: 2.5%;
}

footer {
    background-color: #487948;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color:white;
    align-items: center;
    margin-top: 2.5% !important;
}


/** Gestion des images **/ 
img {
    background-color: transparent;
}

#logo {
    object-fit:fill;
    background-color: transparent !important;
}

#reseau {
    max-height: 25% ;
    max-width: 25% ;
}


/** Titres de page et de section **/
h1 {
    border-radius: 50px;
}

h2 {
    background-color: #548D54;
}

h2, h3 {
    border-radius : 7px ;
    text-align : center !important ;
}

h3 {
    background-color: #8CBF8C;
}


/** Pour la navigation **/
nav, h1, h2, h3, a {
    color: white !important;
    text-align: center !important;
}

nav, #nav {
    background-color: #548D54;
    border-radius: 15px; 
}

#navH {
    padding-left: 5px !important ;
}

a {
    text-decoration: none; 
    padding-right: 5px !important; 
}


/** Gestion des CGU **/ 
#cguLink {
    text-decoration: underline;
    color: #487948 !important;
    background-color: transparent;
}

#cgu {
    padding-left: 2%;
}


/** Gestion des <table> **/
#thead {
    background-color: #8CBF8C ;
    color: white; 
    text-align: center;
}

tr {
    margin-top: 5px !important ;
}


/** Gestion du contenu en général **/ 
p {
    text-align: justify;
}



